body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
    
}


header{
    background-color:#282828;
    color: whitesmoke;
}

.logo{
    font-size: 18px;
    font-weight: 700;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center ;
    margin:0;
    padding: 25px;
    gap: 10px;
}

.icon{
    width: 25px;
}

.align-right{

    margin-left: auto;
}

li {
    cursor:pointer;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
    text-align: center;
}

.item{
    position: relative;
}
.item-img{
   width: 100%;
   display: block;

}
/*

.caption{
    display: flex;
    justify-content:space-between;
    
    margin: 0 25px;
    gap: 20px;
    
    
    
}
*/

.img-banner{
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}


button {
    align-self: center;
    border: none;
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px 25px;
    font-weight: 700;
    cursor: pointer;
    text-shadow: 2px 2px 2px black, 0 0 2em gray, 0 0 0.1em black;
}


.chatbox-bg{
    background-color: #dda15e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    position: fixed;
    right:6px;
    bottom: 6px;
}

.chatbox-img{
    width: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    margin: auto;
}

/* Carousel */
.carousel{
    display: flex;
    max-width: 600px;
    position: relative;
    line-height: 0;
    box-shadow: 5px 10px 8px #888888;
    border: solid black 2px;
    height: 400px;
    margin: 0 auto;

}

.carousel .carousel-item, 
.carousel .carousel-item-hidden{
    display: none;
}

.carousel .carousel-item .caption{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 10%;
    left: 10px;
    right: 10px;
    margin: 0 auto;
    
}

.carousel .carousel-item .caption p{
    color: whitesmoke;
    text-align: center;
    font-weight: 800;
    margin: 0 auto;;
    text-shadow: 2px 2px 2px black, 0 0 2em gray, 0 0 0.1em black;
}

.carousel .carousel-item img{
    width: 100%;
    max-width: 600px;
    height: auto;
}

.carousel .carousel-item-visible{
    display:flex;
    animation: fadeVisibility 0.5s;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/*
.carousel .carousel-actions button {
    border-radius:  50px;
    background-color: black;
    color: white;
    border:0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
*/
.carousel .carousel-actions button #carousel-button-prev{
    margin-left: 20px;
}

.carousel .carousel-actions button #carousel-button-next{
   margin-right: 20px;
}

@keyframes fadeVisibility{

    0% {opacity:0}
    100%{ opacity: 1 }
  }